
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

h1, 
h2, 
h3,  
p, 
ul, 
blockquote {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px 20px;
}

.content-section {
    position: relative;
    box-sizing: border-box;
    width: 360px;
    margin: auto;
}

.content-section_theme_dark {
    color: #F5F5F5;
    background-color: #1e1e1e;
} 

.content-section_theme_bright {
    color: #121111;
    background-color: #FEE42A;
}

.header__logo-image {
    width: 78px;
    height: 15px;
}

.header__menu-list {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    font-family: 'Inter', serif;
    font-weight: 400;
    list-style-type: none;
    width: 75px;
    height: 84px;
}

.header__menu-item_active {
    text-decoration: none;
}

.header__menu-item {
    text-decoration: none;
    border-bottom: 2px solid currentColor;
}

.header a {
    font-family: 'Inter', serif;
    font-weight: 400;
    font-size: 16px;
    color: inherit;
}

span {
    display: block;
}

.acent-span {
    font-family: 'EB Garamond';
    font-weight: 400;
    font-size: 72px;
   line-height: 100%;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
    margin-right: 24px;
}

.img-block {
    padding: 7px 0px 30px 20px;
    background-image: url(../images/cover.svg);
    background-size: 95% auto;
    background-repeat: no-repeat;
    background-position: right;
    min-height: 221px;
    min-width: 340px;
}

.intro__heading {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    font-family: 'Inter', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    padding: 0px 20px 40px 20px;
}

.intro__title {
    display: flex;
    flex-wrap: nowrap;
    color: #CCCCCC;
}

.intro__date {
    white-space: nowrap;
}

.intro__main-text {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
}

.content-section_reasons {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 20px 39px;
    row-gap: 32px;
}
 
.content-section__subtitle {
    font-family: 'EB Garamond', sans-serif;
    font-weight: 500;
    font-size: 28px;
    padding: 40px 20px 0px;
}

.subtitle_right {
    text-align: right;
} 

.subtitle_left {
    text-align: left;
}

.content-section__introduction {
    font-family: 'Inter', serif;
    font-weight: 400;
    font-size: 20px;
}

.content-section__list {
    font-family: 'Inter', serif;
    font-weight: 400;
    font-size: 16px;
    list-style-position: inside;
}

.content-section__list-item {
    padding-bottom: 16px;
    padding-left: 20px;
}

.content-section__list-accent {
    font-weight: bold;
    
}

.content-section_how-to {
    display: flex;
    flex-wrap: wrap;
    padding: 32px 20px 60px;
}

.content-section__introduction_how-to {
    font-family: 'Inter', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 135%;
}

.card_theme_dark {
    color:#F5F5F5;
    background-color: #343434;
    width: 319px;
    min-height: 495px;
    border-radius: 20px;
    margin-top: 32px;
}

.card_theme_bright {
    color:#131313;
    background-color: #FEE42A;
    width: 319px;
    min-height: 368px;
    border-radius: 20px;
    margin-top: 32px;
}

.cards-list {
    border-radius: 5%;
    list-style-type: none;
}

.card {
    padding: 20px;
}

.card__author {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.card__author-photo {
    width: 100px;
    height: 100px;
}

.card__author-name {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
}

.card__title {
    font-family: 'EB Garamond' ;
    font-weight: 500;
    font-size: 22px;
}

.card__text {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.card__content {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    margin-top: 8px;
}
/* Подвал */
.footer_block {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #FEE42A;
}

.footer__copy {
    font-family: 'Inter';
    font-weight: 400px;
    font-size: 16px;
}

.footer__links a {
    font-family: 'Inter';
    font-size: 14px;
    text-decoration: none;
    color: #F5F5F5;
    padding-left: 16px;
    display: inline;
}
